body {
    background-color: rgb(29, 35, 68);
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}
/*HEADER///////////////////////////////////////*/
header {
    background-color: rgb(29, 35, 68);
    margin: 0 auto;
    max-width: 1000px;;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:white;
}
.header-links {

    display: flex;
    list-style-type: none;
    gap: 24px;
    font-size: 0.9em;
    padding: 0px;
    
}
a {
    text-decoration: none;
    color: white;
}

/*SECTION ONE///////////////////////////////////////*/
.section.one {
    background-color: rgb(29, 35, 68);
    margin: 0 auto;
    max-width: 1100px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.section.one .info {
    flex-direction: column;
    width: 400px;
}
.section.one h1 {

    font-size: 40px;
    margin: 0px;
    padding: 0px;
}
.section.one p {

    margin: 20px 0px;
    padding: 0px;
}
.button {
    background-color: rgb(61, 137, 252);
    color: white;
    border-radius: 6px;
    padding: 8px 30px;
    border-style: none;
    font-weight: 900;
}
.img-puppy {
    padding: 50px 0px;
    height: 300px;
}

/*SECTION TWO///////////////////////////////////////*/
.section.two {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.section.two h2 {
    
    padding: 24px;
    margin: 0px;
}
.cool-list {
    display: flex;
    justify-content: center;
    gap: 36px;
    margin: 0px;
}
.cool-list div {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 131px; 
    margin-bottom: 50px;
}
.box {

  /*  border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    border-color: rgb(61, 137, 252);*/
    list-style-type: none;

}

.section.two .cool-list img {
    list-style-type: none;
    object-fit: fill;
    border-radius: 5px;
    width: 125px;
}
.cool-list .text {
    
    font-size: 0.8em;
    text-align: center;
    padding: 0px;
    
}

/*SECTION THREE///////////////////////////////////////*/
.section.three {
    background-color: rgb(207, 207, 207);
}
.section.three .container {

    width: fit-content;
    padding: 50px 250px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.section.three .quote {
    min-width: 600px;
    max-width: 600px;
    font-family: serif;
    font-size: 28px;
    font-weight: 100;
}
.section.three .name {
    align-self: flex-end;
    font-weight: 900;
}
/*SECTION FOUR///////////////////////////////////////*/

.section.four {
    background-color: white; 
    display: flex;
    justify-content: center; 
    
}
.section.four .inside {
    background-color: rgb(61, 137, 252);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
    padding: 40px 60px;
    max-width: 600px;
    border-radius: 8px;
    flex: 600px;

}
.section.four .text {

    color: white;
    margin: 0px;
    
}
.section.four .button {
    border-style: solid;
    border-width: 2px;
    border-color: white;
}
/*FOOTER///////////////////////////////////////*/
footer {
    background-color: rgb(29, 35, 68);
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: auto;
}